name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Java and Maven
      run: java -version
           mvn -version

      

   

    - name: Run tests
      run: mvn -X test
