name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Add Maven to PATH
      shell: powershell
      run: |
        $mvn= "C:\ProgramData\chocolatey\lib\maven\apache-maven-3.9.11\bin"
        echo "PATH=$mvn;$env:PATH" >> $env:GITHUB_ENV

    - name: Check Java and Maven versions
      shell: powershell
      run: |
        java -version
        mvn -version

    - name: Run tests
      run: mvn -X test
